version: "3.9"
services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
      - "6320:6320"
    volumes:
      - static-content:/src/static
      - static-files:/src/staticfiles
    restart: unless-stopped
    depends_on:
      - web

  web:
    build: ./gerobug_web
    expose:
      - 8000
    command: gunicorn gerobug_web.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ./gerobug_dashboard/secrets/db_secret.env
    environment:
      PYTHONUNBUFFERED: 1
    volumes:
      - static-content:/src/static
    restart: unless-stopped
    depends_on:
      - dashboard

  dashboard:
    build: ./gerobug_dashboard
    # ports:
    #  - "6320:6320"
    # command: python manage.py runserver 0.0.0.0:6320 --insecure
    expose:
      - 8001
    command: gunicorn gerobug.wsgi --bind 0.0.0.0:8001
    env_file:
      - ./gerobug_dashboard/secrets/gerobug_secret.env
      - ./gerobug_dashboard/secrets/db_secret.env
    environment:
      PYTHONUNBUFFERED: 1
    volumes:
      - static-content:/src/static
      - static-files:/src/staticfiles
      - ./log/:/src/log
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: 'postgres:latest'
    expose:
      - 5432
    command: postgres -c hba_file=/opt/gerobug_hba.conf
    env_file:
      - ./gerobug_dashboard/secrets/db_secret.env
    environment:
      POSTGRES_DB: "gerobug_db"
      POSTGRES_USER: "gerobug"
    volumes:
      - ./db_data/:/var/lib/postgresql/data/
      - ./gerobug_hba.conf:/opt/gerobug_hba.conf
    restart: unless-stopped
  
volumes:
  static-content: