{%load crispy_forms_tags %} 
{% load static %}
{% block content %}

    <!-- <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div> -->

{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
    <link rel="stylesheet" href='{% static "/css/login.css" %}'>

</head>

<body id="body">
    <div class="container">
        <div id="login-card" class="card">
            <div class="card-body">
                <h2 class="text-center">Reset Password</h2>
                <br>
                <form action="" id="form-login" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}                    
                    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
                    
                    <br>

                </form>
            </div>

        </div>
    </div>
            

</body>

</html>