{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Gerobug-signature" content="97de67b8d672c51c158247f398b85d31">
  
  <title>Hall Of Fame</title>
  <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
  <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
  <link rel="stylesheet" href='{% static "/css/hall.css" %}'>
  <link rel="stylesheet" href='{% static "/css/header.css" %}'>

  <!-- BOOTSTRAP CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script>
    function myFunction() {
      var x = document.getElementById("navbar");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</head>

<body>
  <header>
    <ul class="topnav" id="navbar">
        <li><a class="logo" href="{% url 'rules' %}">
            <div class="nav-content"><img src="{% static 'logo.png' %}"></div>
        </a></li>
        <li><a href="{% url 'rules' %}">
            <div class="nav-content">Rules & Guidelines</div>
        </a></li>
        <li><a class="active" href="{% url 'halloffame' %}">
            <div class="nav-content">Hall Of Fame</div>
        </a></li>
        <li><a href="{% url 'submit' %}">
            <div class="nav-content">Submit</div>
        </a></li>
        <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
            <div class="nav-content"><i class="fa fa-bars"></i></div>
        </a></li>
    </ul>
  </header>

  <div id="content">
    <div id="title">
      <h1>Hall Of Fame</h1>
      <img src="{% static 'leaderboard.png' %}">
    </div>
    <p>Gerobug thanks the following researchers for reporting valid security issues</p>
        
    <table id="leaderboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Bounty Hunter</th>
          <th>Points</th>
        </tr>
      </thead>
    </table>

    <div id="table-scroll">
      <table id="leaderboard">
        {% for bughunter in bughunters|slice:":50" %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ bughunter.hunter_username }}</td>
          <td>{{ bughunter.hunter_scores }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div style="display:none;">97de67b8d672c51c158247f398b85d31</div>
</body>

</html>
{% endblock content %}