{% load static %}
{% load gerobug_tags %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
  <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">
  <link rel="stylesheet" href='{% static "/css/notfound.css" %}'>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box">
  <div class="box__ghost">
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    
    <div class="box__ghost-container">
      <div class="box__ghost-eyes">
        <div class="box__eye-left"></div>
        <div class="box__eye-right"></div>
      </div>
      <div class="box__ghost-bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="box__ghost-shadow"></div>
  </div>
  
  <div class="box__description">
    <div class="box__description-container">
      <div class="box__description-title">Whoops!</div>
      <div class="box__description-text">It seems like we couldn't find the page you were looking for</div>
    </div>
    
    <a href="{% url 'rules' %}" class="box__button">Go back</a>
    
  </div>
  
</div>
  <!-- scripts -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static '/script/notfound.js' %}"></script>

</body>
</html>
