{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Gerobug-signature" content="97de67b8d672c51c158247f398b85d31">

    <title>Rules and Guidelines</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
    <link rel="stylesheet" href='{% static "/css/header.css" %}'>
    <link rel="stylesheet" href='{% static "/css/submit.css" %}'>

    <!-- BOOTSTRAP CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("navbar");
            if (x.className === "topnav") {
            x.className += " responsive";
            } else {
            x.className = "topnav";
            }
        }
    </script>
    <script>
        function copytext(id) {
          var copyText = document.getElementById(id);
        
          copyText.select();
          copyText.setSelectionRange(0, 99999); // For mobile devices
        
          navigator.clipboard.writeText(copyText.value);
          
          alert("Copied: \n" + copyText.value);
        }
    </script>
</head>

<body>
    <header>
        <ul class="topnav" id="navbar">
            <li><a class="logo" href="{% url 'rules' %}">
                <div class="nav-content"><img src="{% static 'logo.png' %}"></div>
            </a></li>
            <li><a href="{% url 'rules' %}">
                <div class="nav-content">Rules & Guidelines</div>
            </a></li>
            <li><a href="{% url 'halloffame' %}">
                <div class="nav-content">Hall Of Fame</div>
            </a></li>
            <li><a class="active" href="{% url 'submit' %}">
                <div class="nav-content">Submit</div>
            </a></li>
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
                <div class="nav-content"><i class="fa fa-bars"></i></div>
            </a></li>
        </ul>
    </header>

    <main>
        <h1>How To Submit</h1>
        <p>{{ template|safe }}</p>
        <p>Join Gerobug community on <a href="https://discord.gg/VhU4X4TQ5F" target="_blank">Discord</a></p>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Submit Bug Bounty Report
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_1" rows="1" cols="40">SUBMIT_Report Title</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_1')"><i class="fa fa-copy"></i></div>
                        </div>

                        <b>Body:</b> 
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Body_1" rows="3" cols="40">
TYPE= <font color="#9900FF">Bug Type</font>
ENDPOINT= Affected Endpoint
SUMMARY= Summary</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Body_1')"><i class="fa fa-copy"></i></div>
                        </div>

                        <b>Attachment:</b> 
                        <br>
                        PDF REPORT FILE
                        (<a href="{% static 'templates/Template_Report.docx' %}">Report Template</a>)<br>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/submit.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Check Report Status
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_2" rows="1" cols="40">CHECK_Report ID</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_2')"><i class="fa fa-copy"></i></div>
                        </div>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/check.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo1">
                        Check All Report Status (Overview)
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo1" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo1">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_3" rows="1" cols="40">STATUS_OVERVIEW</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_3')"><i class="fa fa-copy"></i></div>
                        </div>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/overview.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Update Report
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_4" rows="1" cols="40">UPDATE_Report ID</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_4')"><i class="fa fa-copy"></i></div>
                        </div>

                        <b>Body:</b> 
                        <br>
                        Summary of your updates
                        <br>

                        <br>
                        <b>Attachment:</b> 
                        <br>
                        PDF REPORT FILE
                        (<a href="{% static 'templates/Template_Report.docx' %}">Report Template</a>)<br>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/update.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Appeal to Bounty Calculations
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_5" rows="1" cols="40">APPEAL_Report ID</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_5')"><i class="fa fa-copy"></i></div>
                        </div>

                        <b>Body:</b> 
                        <br>
                        Reason of your appeal
                        <br>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/appeal.png' %}" width="35%">
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Agree to Bounty Calculations
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_6" rows="1" cols="40">AGREE_Report ID</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_6')"><i class="fa fa-copy"></i></div>
                        </div>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/agree.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                        Submit Data and NDA
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_7" rows="1" cols="40">NDA_Report ID</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_7')"><i class="fa fa-copy"></i></div>
                        </div>

                        <b>Body:</b> 
                        <br>
                        Requested Information
                        <br>

                        <br>
                        <b>Attachment:</b> 
                        <br>
                        PDF SIGNED NDA FILE
                        <br>

                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/nda.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSeven">
                        Check Score
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body">
                        <b>Subject: </b>
                        <br>
                        <div class="text-wrap">
                        <textarea readonly id="Subject_8" rows="1" cols="40">MY_SCORE</textarea>
                        <div id="copyToClipboard-a" class="clipboard icon" onclick="copytext('Subject_8')"><i class="fa fa-copy"></i></div>
                        </div>
                        
                        <br>
                        <b>Sample:</b>
                        <br>
                        <img src="{% static 'sample/score.png' %}" width="35%">
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div id="copyright">
            <p>&copy; {%now "Y"%} GEROBUG</p>
        </div>
    </footer>

    <div style="display:none;">97de67b8d672c51c158247f398b85d31</div>
</body>

</html>