{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Reset Password</title>
  <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
  <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
  <link rel="stylesheet" href='{% static "/css/login.css" %}'>

  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="body">
  <div class="container">
    <div id="login-card" class="card">
      <div class="card-body">
        <h2 class="text-center">Reset Password</h2>
        <br>
        <p style="text-align: center; color: #444444;">Enter your registered email address to continue.</p>
        <form action="" id="form-login" method="POST">
          {% csrf_token %}
          {{ password_reset_form | crispy }}
          <br>
          {% for message in messages %}
          {% if 'success' in message.tags %}
              <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
          {% else %}
              <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
          {% endif %}
          {% endfor %}

          <div id="action-btn">
            <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Send Email</button>
          </div>

          <br>

        </form>
      </div>

    </div>
  </div>


</body>

</html>
