.nav-bar {
    background-color: var(--main-1);
    overflow: hidden;
}

.nav-bar img {
    float: left;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
}

#copyright{
    font-size: 2vh;
    text-align: center;
    color: white;
  }