
.notification{
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    background: linear-gradient(91.75deg, var(--secondary-1) -9.31%, #171526 130.93%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding-left: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-end;
}

.report-status {
    padding: 2px 8px;
    gap: 8px;
  
    width: 120px;
    height: 16px;
  
    background: var(--secondary-2);
    border-radius: 20px;
  
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    /* Subtitle 2 */
  
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 171% */
  
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
  
    color: black;
  }

  #needreview{
    background: #FFA9B3;
  }

  #inreview{
    background: #f5d28c;
  }

  #fixing{
    background: #ffbf58;
  }

  #retest{
    background: #ffbf58;
  }

  #prepare{
    background: #92caff;
    ;
  }

.duplicate{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

#duplicate-symbol svg{
    width: 16px;
    height: 16px;
    color: rgb(211, 150, 47);
}
.notification svg{
    width: 24px;
    height: 24px;
    color: white;
}

.notification .notif-details{
    font-size: 20px;
    color: white;
    padding-left: 20px;
}

.col-header{
    font-size: 20;
    font-weight: bold;
}

.scroll-div{
    overflow-y: auto;
    margin-top: 8px;
    max-height: 500px;
    background-color: var(--secondary-1);
    border-radius: 10px;
    /* padding: 10px; */
}

.scroll-div::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroll-div::-webkit-scrollbar-thumb
{
	background-color: white;
}

.scroll-div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .scroll-div::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .scroll-div { */
  /* -ms-overflow-style: none;   */
  /* IE and Edge */
  /* scrollbar-width: none;   */
  /* Firefox */
/* } */
a:link, a:visited{
    text-decoration: none!important;
  }

.card{
    margin: 10px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    text-decoration: none;
}

.card .card-title{
    font-size: 16px;
    font-weight: bold;
    color: #171526;
}

.card .card-type{
    font-weight: 16px;
    padding-top: 4px;
    color: #171526;
}

.card .card-time{
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #171526;
}

.card .card-hunter{
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #171526;
}

.card button{
    background-color: var(--button-1);
    border-width: 0;
    border-radius: 20px;
    color: white;
    height: 30px;
    font-size: 12px;
}

.card .finished{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    color: #2BA700;
}

#string_overflow {
    width: 165px;
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
}