main {
    /* margin-left: 20px; */
    margin-top: 20px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 40px;
    /* padding-right: 20px; */
    background-color: white;
    /* max-height: 85vh; */
    /* height: 85vh; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.container{
    height: 90vh;
    overflow-y: auto;
    overflow-x: auto;
}

#left-div{
    width: 100%;
    /* direction:ltr; */
}

h4{
    max-width: 800px;
}

h6{
    text-decoration: none;
    color: rgb(6, 6, 163);
}

#report-id {
    color: var(--secondary-1);
}

#report-reviewer{
    margin-top: 20px;
}

#report-summary {
    height: 180px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-top: 20px;
        /* height: 100vh;
        overflow-y: auto;    */
}

#left-div th,td{
    padding: 4px;
}

#left-div table{
    max-width: 800px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#report-download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
}

input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
    padding: 4px;
    width: 90%;
}

input::placeholder{
    font-size: 0.75vw;
}

input[type=number] {
    border: 2px solid grey;
    border-radius: 4px;
    padding: 4px;
    width: 90%;
    margin-bottom: 10px;
}

#severity-div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	align-items: center;
	align-content: stretch;
    gap: 4px;
}
#report-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title-left{
    display: flex;
    flex-direction: row;
}

.report-status {
    /* Auto layout */

    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 8px;

    width: 150px;
    height: 28px;

    background: var(--secondary-2);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    /* Subtitle 2 */

    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    color: black;
}

#needreview{
    background: #FFA9B3;
  }

  #inreview{
    background: #f5d28c;
  }

  #fixing{
    background: #ffbf58;
  }

  #calculate{
    background: #92caff;
  }

  #complete{
    background: #b5ffaa;
  }

  #invalid{
    background: #f43737;
  }


.severity-type {

    margin-bottom: 20px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 8px;

    width: 72px;
    height: 28px;

    /* background: #FFA9B3; */
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    letter-spacing: 0.1px;

    color: black;
}

#none{
    background: #a0a1a0;
   }

#low{
 background: #65f377;
}

#medium{
    background: #dff79c;
}

#high{
    background: #ffb938;
}

#critical{
    background: #b75661;
}

#download-file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#download-file a {
    margin-left: 10px;
}

label {
    font-weight: 500;
}

#report-download {
    gap: 0px;
}

.amend-btn{
    background-color: var(--button-1);
    border-width: 0;
    color: #f9f3f3;
    border-radius: 20px;
    margin: 28px;
    height: 42px;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.update-btn{
    background-color: var(--button-1);
    border-width: 0;
    color: #f9f3f3;
    border-radius: 20px;
    margin: 28px;
    height: 42px;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.update-review-btn{
    background-color: var(--button-1);
    border-width: 0;
    color: #f9f3f3;
    border-radius: 20px;
    /* margin-top: 20px; */
    height: 42px;
    width: 80%;
    /* min-width: 150px; */
    padding-left: 10px;
    padding-right: 10px;
}

#files{
    display: flex;
	flex-direction: row;
    gap: 20px;
}

.modal-footer{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.modal-footer button{
    width: 100%;
}

.ok-btn{
    background-color: var(--button-1);
    color: white;
    border-radius: 20px;
    border-width: 0px;
}

.cancel-btn{
    background-color: gray;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}

.modal-footer a{
    width: 100%;
}

.modal-body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#nda-details{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    gap: 4px;
}

#nda-details button{
    width: 48px;
    height: 16px;
    color: white;
    background-color: var(--button-1);
    border-width: 0;
    border-radius: 4px;
    font-size: 10px;
}

h6{
    align-items: center;
}
.nda-btn{
    width: 84px;
    height: 16px;
    color: white;
    background-color: var(--button-1);
    border-width: 0;
    border-radius: 4px;
    font-size: 10px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none !important;
}