*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #F9F3F3;
    /* font-family: 'Libre Franklin', sans-serif; */
    /* overflow-y: scroll; */
}

main{
    /* margin-top: 10vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    /* overflow-y: auto; */
    /* height: 80vh; */
}

.row{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.row a p h4{
    /* font-family: 'Libre Franklin', sans-serif; */
    text-decoration: none;
    text-align: none;
    color: black;
    margin-left: 3vw;
    font-size: 2vh;
}

.col-4 a{
    text-decoration: none;
    color: black;
}

.col-4 a.active{
    text-decoration: none;
    color: var(--secondary-1);
}
.col-8{
    overflow-y: auto;
    height: 75vh;
    border-left: 1px solid black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.col-8::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.col-8 {
  -ms-overflow-style: none;  
  /* IE and Edge */
  scrollbar-width: none;  
  /* Firefox */
}