{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hall Of Fame</title>

  <link rel="stylesheet" href='{% static "/css/hall.css" %}'>
  <link rel="stylesheet" href='{% static "/css/header.css" %}'>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <ul class="topnav">
      <li>
        <div id=logo-atas>
          <a href="{% url 'rules' %}"><img src="{% static 'logo-black.png' %}"></a>
        </div>
      </li>
      <li><a href="{% url 'rules' %}">Rules & Guidelines</a></li>
      <li><a class="active" href="{% url 'halloffame' %}">Hall Of Fame</a></li>
      <li><a href="{% url 'submit' %}">Submit</a></li>
    </ul>
    </nav>
  </header>

  <div id="content">
    <div id="title">
      <h1>Hall Of Fame</h1>
      <img src="{% static 'leaderboard.png' %}">
    </div>
    <p>Gerobug thanks the following researchers for reporting valid security issues</p>
  

    <table id="leaderboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Bounty Hunter</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for bughunter in bughunters|slice:":10" %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ bughunter.hunter_username }}</td>
          <td>{{ bughunter.hunter_scores }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>


  <!-- <footer>
        <div id="copyright">
            <p>&copy; 2022 GEROBUG</p>
        </div>
    </footer> -->
</body>

</html>
{% endblock content %}