{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules and Guidelines</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "/css/header.css" %}'>
    <link rel="stylesheet" href='{% static "/css/submit.css" %}'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <ul class="topnav">
          <li><div id=logo-atas>
            <a href="{% url 'rules' %}"><img src="{% static 'logo-black.png' %}"></a>
          </div></li>
          <li><a href="{% url 'rules' %}">Rules & Guidelines</a></li>
          <li><a href="{% url 'halloffame' %}">Hall Of Fame</a></li>
          <li><a class="active" href="{% url 'submit' %}">Submit</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <h1>How To Submit</h1>
        <p>Submit your email to <strong>gerobug.id@gmail.com</strong> using the templates below...</p>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Submit Bug Bounty Report
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        Subject: SUBMIT_<b>Report Title</b> <br>
                        Body: <br><b>
                        TYPE= Bug Type <br>
                        ENDPOINT= Affected Endpoint <br>
                        SUMMARY= Summary<br><br></b>
                        Attachment: <b>*PDF Report File*</b>
                        (<a href="{% static 'sample/Template_Report.pdf' %}">Report Template</a>)<br>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/submit.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Check Report Status
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Subject: CHECK_<b>Report ID</b> <br>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/check.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo1">
                        Check All Report Status (Overview)
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo1" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo1">
                    <div class="accordion-body">
                        Subject: STATUS_OVERVIEW<br>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/check.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Update Report
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Subject: UPDATE_<b>Report ID</b> <br>
                        Body: <br><b>
                        Summary<br><br></b>
                        Attachment: <b>*PDF Report File*</b><br>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/update.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Appeal to Bounty Calculations
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        Subject: APPEAL_<b>Report ID</b> <br>
                        Body: <br><b>
                        Reasons<br><br></b>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/appeal.png' %}" width="35%">
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Agree to Bounty Calculations
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        Subject: AGREE_<b>Report ID</b> <br>
                        
                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/agree.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                        Submit Data and NDA
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        Subject: NDA_<b>Report ID</b> <br>
                        Body: <br><b>
                        Requested Information<br><br></b>
                        Attachment: <b>*PDF Signed NDA File*</b><br>

                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/nda.png' %}" width="35%">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSeven">
                        Check Score
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body">
                        Subject: MY_SCORE <br>
                        
                        <br>
                        Sample:<br>
                        <img src="{% static 'sample/score.png' %}" width="35%">
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div id="copyright">
            <p>&copy; 2022 GEROBUG</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>
