Pillow==10.3.0
PyPDF2<3.0
crispy-bootstrap5
cvss==2.6
django-bleach
django-colorfield==0.10.1
django-crispy-forms
django-quill-editor
django==5.1.3
gunicorn==22.0.0
libmagic
psycopg2
python-magic
requests
