{% load static %}
{% load gerobug_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Gerobug-signature" content="97de67b8d672c51c158247f398b85d31">
    
    <!-- <title>Rules and Guidelines</title> -->
    <title>Дүрэм ба Зааварчилгаа</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
    <link rel="stylesheet" href='{% static "/css/rules.css" %}'>
    <link rel="stylesheet" href='{% static "/css/header.css" %}'>

    <!-- BOOTSTRAP CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/gh/jitbit/HtmlSanitizer@master/HtmlSanitizer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

    <script>
        function myFunction() {
          var x = document.getElementById("navbar");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
</head>

<body>
    <header>
        <ul class="topnav" id="navbar">
            <li><a class="logo" href="{% url 'rules' %}">
                <div class="nav-content"><img src="{% static 'logo.png' %}"></div>
            </a></li>
            <li><a class="active" href="{% url 'rules' %}">
                <!-- <div class="nav-content">Rules & Guidelines</div> -->
                <div class="nav-content">Дүрэм ба Зааварчилгаа</div>
            </a></li>
            <li><a href="{% url 'halloffame' %}">
                <!-- <div class="nav-content">Hall Of Fame</div> -->
                <div class="nav-content">Алдрын танхим</div>
            </a></li>
            <li><a href="{% url 'submit' %}">
                <!-- <div class="nav-content">Submit</div> -->
                <div class="nav-content">Тайлан илгээх</div>
            </a></li>
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
                <div class="nav-content"><i class="fa fa-bars"></i></div>
            </a></li>
        </ul>
    </header>

    <main>
        <div class="row">
            <div class="col-4">
                <div id="simple-list-example"
                    class="d-flex flex-column gap-4 simple-list-example-scrollspy text-left">
                    <a class="p-1 rounded" href="#1">Bounty Terms</a>
                    <a class="p-1 rounded" href="#2">In Scope</a>
                    <a class="p-1 rounded" href="#3">Out Of Scope</a>
                    <a class="p-1 rounded" href="#4">Responsible Disclosure Policy</a>
                    <a class="p-1 rounded" href="#5">Report Guidelines</a>
                    <a class="p-1 rounded" href="#6">FAQ</a>
                </div>
            </div>

            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                    data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                    <h3>[INTERNAL VIEW ONLY]</h3>
                    <br>
                    <h4 id="1">Bounty Terms</h4>
                    {% block bountyterms %}
                    {% if bountyterms %}
                    {{ bountyterms.html|safe }}
                    {% else %}
                    
                    {% endif %}
                    {% endblock bountyterms %}

                    <h4 id="2">In Scope</h4>
                    {% block inscope %}
                    {% if inscope %}
                    {{ inscope.html|safe }}
                    {% else %}
                    
                    {% endif %}
                    {% endblock inscope %}

                    <h4 id="3">Out Of Scope</h4>
                    {% block outofscope %}
                    {% if outofscope %}
                    {{ outofscope.html|safe }}
                    {% else %}

                    {% endif %}
                    {% endblock outofscope %}

                    <h4 id="4">Responsible Disclosure Policy</h4>
                    {% block RDP %}
                    {% if RDP %}
                    {{ RDP.html|safe }}
                    {% else %}
                    
                    {% endif %}
                    {% endblock RDP %}

                    <h4 id="5">Report Guidelines</h4>
                    {% block reportguidelines %}
                    {% if reportguidelines %}
                    {{ reportguidelines.html|safe }}
                    {% else %}
                    
                    {% endif %}
                    {% endblock reportguidelines %}
                    
                    <h4 id="6">FAQ</h4>
                    {% block faq %}
                    {% if faq %}
                    {{ faq.html|safe }}
                    {% else %}

                    {% endif %}
                    {% endblock faq %}
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div id="copyright">
            <p>&copy; {%now "Y"%} BUGBOUNTY</p>
        </div>
    </footer>
    
    <div style="display:none;">97de67b8d672c51c158247f398b85d31</div>
</body>

</html>